:root {
  --white-color: #ffffff;
  --primary-text-color: #757575;
  --primary-text-title: #212121;
  --botton-color: #188ce8;
  --accent-color: #2196f3;
  --bcg-header-color: #ececec;
  --bcg-color-1: #2f303a;
  --bcg-color-2: #e5e5e5;
  --bcg-color-3: #f5f4fa;
  --mail-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--primary-text-color);
}
/* 1.1. Хедер */
.header {
  background-color: var(--white-color);
}
.site-nav .link {
  color: var(--primary-text-title);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav {
  color: var(--primary-text-color);
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--accent-color);
}
/* 1.2. Главная секция */
.hero {
  background-color: var(--bcg-color-1);
}
.hero-title {
  color: var(--white-color);
}
/* 1.3. Секция преимущества */
.advantages {
  background-color: var(--bcg-color-2);
}
.section-title {
  color: var(--primary-text-title);
}
.feature-list .title {
  color: var(--primary-text-title);
}
/* 1.5. Секция наша команда */
.team {
  background-color: var(--bcg-color-3);
}
.staff {
  color: var(--primary-text-title);
}
.main-portfolio {
  background-color: var(--bcg-color-2);
}
/* 1.6. Подвал */
.footer {
  background-color: var(--bcg-color-1);
}
.addres {
  color: var(--white-color);
}
.addres-title {
  color: var(--mail-color);
}
.addres-title:hover,
.addres-title:focus {
  color: var(--accent-color);
}
/* страница портфолио */
/* 2.1. Навигация */

/* 2.2. Портфолио проектов */
.project-title {
  color: var(--primary-text-title);
}
/* button */
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button.primary {
  color: var(--primary-text-title);
  background-color: var(--bcg-color-3);
}
