:root {
    --primary-text-color: #757575;
    --text-color-1: #212121;
    --text-color-2: #FFFFFF;
    --accent-text-color: #2196F3;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.list {
    list-style: none;
} 
/* Оформление хедера */
.logo {
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-top {
    color: var(--text-color-1);
}

.logo-bottom {
    color: var(--text-color-2);
}

.header-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);
}

.header-nav:focus,
.header-nav:hover {
    color: var(--accent-text-color);
}


/* Оформление футера */
address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color)
}
.footer-nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--primary-text-color);
    
}

/* ГЛАВНАЯ */

 /* Оформление героя */
 .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }
/* оформление о нас */
.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about-des {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* оформление команды */

 .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
 }

 .team-stuff {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
 }

 .sfuff-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
 }
 
 /* ПОРТФОЛИО */
 
 /* Оформление Примеры работ */

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
